<h1>USER</h1>

<table>
  <tr>
    <td>email</td>
    <td><%=@user.email%></td>
  </tr>
  <tr>
    <td>password_digest</td>
    <td><%=@user.password_digest%></td>
  </tr>
  <tr>
    <td>session_token</td>
    <td><%=@user.session_token%></td>
  </tr>
</table>
