/* PHASE 3: Layout */

.content {
  min-height: 200px;
  width: 900px;
  margin: auto;

  /*min-width: 100px;*/


}

.content-sidebar {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  min-height: 200px;
  width: 30%;
  background-color: #fff;
}

.content-main {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  min-height: 200px;
  width: 70%;
  background-color: #fff;

}
